<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /assets/css/main.css -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- endbuild -->

  </head>
  <body>

    {{ content }}

    {% include scripts.html %}

  </body>
</html>
